<div class="container mt-5 p-4 rounded shadow bg-light">
    <h2 class="text-center mb-4 bg-primary text-white p-3 rounded">Add New Employee</h2>
  
    <div class="row g-3">
      <!-- ID -->
      <div class="col-md-6">
        <label for="employeeId" class="form-label fw-semibold">Employee ID</label>
        <input type="text" class="form-control" id="employeeId" placeholder="Enter ID" [(ngModel)]="employee.id">
      </div>
  
      <!-- Name -->
      <div class="col-md-6">
        <label for="employeeName" class="form-label fw-semibold">Full Name</label>
        <input type="text" class="form-control" id="employeeName" placeholder="Enter Full Name" [(ngModel)]="employee.name">
      </div>
  
      <!-- Email -->
      <div class="col-md-6">
        <label for="employeeEmail" class="form-label fw-semibold">Email</label>
        <div class="input-group">
          <input type="text" class="form-control" id="employeeEmail" placeholder="username" [(ngModel)]="employee.email">
        
        </div>
      </div>
  
      <!-- Department -->
      <div class="col-md-6">
        <label for="department" class="form-label fw-semibold">Department</label>
        <select class="form-select" id="department" [(ngModel)]="employee.department">
          <option disabled selected>Select Department</option>
          <option value="HR department">HR</option>
          <option value="IT department">IT</option>
          <option value="Finance department">Finance</option>
          <option value="Operations department">Operations</option>
        </select>
      </div>
  
      <!-- Add Button -->
      <div class="col-12 text-center mt-10">
        <button type="button" class="btn btn-lg btn-success px-5" (click)="AddEmployee()">
            <i class="bi bi-plus-circle me-2"></i> Add Employee
          </button>
          
      </div>
    </div>
  </div>
  